{% extends "base/base.html" %}

{% block title %}DELETE TAREA VIEW{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            <h3>¿Realmente deseas eliminar esta Tarea: "{{ object }}"?</h3>
            
            <button type="submit" class="btn btn-success">Borrar Tarea</button>
            <a href="{% url 'core:list_Tarea' %}" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock content %}