{% extends "base/base.html" %}

{% block title %}DELETE PROJECT VIEW{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            <h3>¿Realmente deseas eliminar este proyecto: "{{ object }}"?</h3>
            
            <button type="submit" class="btn btn-success">Borrar Proyecto</button>
            <a href="{% url 'core:list_Proyecto' %}" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock content %}