{% extends "base/base.html" %}

{% block title %}Detalle de Proyecto{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Nombre del Proyecto</h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>{{ proyecto.nombre }}</strong></p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Descripción</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ proyecto.descripcion }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Fecha de Inicio</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ proyecto.fecha_inicio }}</p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'core:list_Proyecto' %}" class="btn btn-primary">Regresar</a>
        </div>
    </div>
</div>
{% endblock content %}
