{% extends "base/base.html" %}

{% block title %}Detalle de Tarea{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Nombre de la Tarea</h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>{{ Tarea.Tareanombre }}</strong></p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Descripción</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ Tarea.descripcion }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Progreso</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ Tarea.progreso }}%</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Estado</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ Tarea.estado }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Fecha de Creación</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ Tarea.timestamp }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Duración (Días)</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ Tarea.dias_duracion }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'core:list_Tarea' %}" class="btn btn-primary">Regresar</a>
        </div>
    </div>
</div>
{% endblock content %}
