{% extends "base/base.html" %}

{% block title %}LIST TASK VIEW{% endblock title %}

{% block content %}
   
   <center><h1>Proyectos</h1></center>
   <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>PROYECTO</th>
                <th>FECHA DE CREACIÓN</th>
                <th></th>
                <th>ACCIONES</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for p in proyecto %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.nombre }}</td>
                    <!-- <td>{{ p.Usuario }}</td> -->
                    <td>{{ p.fecha_inicio }}</td>
                    <td><a href="{% url 'core:detail_Proyecto' p.pk %}" class="btn btn-secondary">Detalle</a></td>
                    <td><a href="{% url 'core:update_Proyecto' p.pk %}" class="btn btn-primary">Actualizar</a></td>
                    <td><a href="{% url 'core:delete_Proyecto' p.pk %}" class="btn btn-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'core:create_Proyecto' %}" class="btn btn-outline-success form-control">Nuevo Proyecto</a>
{% endblock content %}
