{% extends "base/base.html" %}

{% block title %}LIST TASK VIEW{% endblock title %}

{% block content %}
   
   <center><h1>Tareas</h1></center>
   <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>USUARIO</th>
                <th>PROYECTO</th>
                <th>FECHA DE CREACIÓN</th>
                <th></th>
                <th>ACCIONES</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in Tarea %}
                <tr>
                    <td>{{ tarea.id }}</td>
                    <td>{{ tarea.Tareanombre }}</td>
                    <td>{{ tarea.Usuario }}</td>
                    <td>{{ tarea.Proyecto }}</td>
                    <td>{{ tarea.timestamp }}</td>
                    <td><a href="{% url 'core:detail_Tarea' tarea.pk %}" class="btn btn-secondary">Detalle</a></td>
                    <td><a href="{% url 'core:update_Tarea' tarea.pk %}" class="btn btn-primary">Actualizar</a></td>
                    <td><a href="{% url 'core:delete_Tarea' tarea.pk %}" class="btn btn-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'core:create_Tarea' %}" class="btn btn-outline-success form-control">Nueva Tarea</a>
{% endblock content %}
