{% extends "base/base.html" %}

{% block title %}UPDATE PROJECT VIEW{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            {{ form }}
            <button style="margin: 2%;" type="submit" class="btn btn-primary form-control">Update POYECTO</button>
            <br>
            <a href="{% url 'core:list_Proyecto' %}" class="btn btn-danger form-control">Cancel</a>
    </form>
{% endblock content %}